html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title
      block title
      |  - #{APP_NAME}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/static/css/app.css")
    block style
  body

    include elements/nav
    main.my-3.py-2
      div.container
        p.h5.mb-4
          block title
        div.row
          block content
    include elements/footer

    script(src="/static/js/app.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css")
    script.
      toastr.options = {"closeButton": true, "newestOnTop": true, "progressBar": true, "positionClass": "toast-top-right", "preventDuplicates": true, "onclick": null, "showDuration": 300, "hideDuration": 1000, "timeOut": 4000, "extendedTimeOut": 1000, "showEasing": "swing", "hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut"}
    if (flash)
      script.
        toastr['#{flash.type}']('#{flash.message}');
    block script