footer.page-footer.text-center.font-small.mdb-color.darken-2.mt-4.wow.fadeIn
  div.footer-copyright.py-3
    | © 2018 Copyright:
    a(href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank")  MDBootstrap.com